<div class="main-content justify-content-center align-items-center" *ngIf="loading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div id="loading">
                    <ul class="bokeh">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content" *ngIf="!loading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Mis datos</h4>
                        <p class="card-category">Ficha detalle</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formularioPerfil" (ngSubmit)="updatePerfil($event)" autocomplete="off">
                            <div class="row">
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Empresa" value="PETSTAR" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Usuario" formControlName="usuario" [(ngModel)]="usuario.usuario">
                                        <mat-hint *ngIf="formularioPerfil.controls.usuario.errors?.required && (formularioPerfil.controls.usuario?.touched || submittedPerfil)">Requerido</mat-hint>
                                        <mat-hint *ngIf="formularioPerfil.controls.usuario.errors?.pattern && (formularioPerfil.controls.usuario?.pattern || submittedPerfil)">Solo números y letras</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Correo electrónico" type="email" formControlName="correo_electronico" [(ngModel)]="usuario.correo_electronico">
                                        <mat-hint *ngIf="formularioPerfil.controls.correo_electronico.errors?.required && (formularioPerfil.controls.correo_electronico?.touched || submittedPerfil)">Requerido</mat-hint>
                                        <mat-hint *ngIf="formularioPerfil.controls.correo_electronico.errors?.pattern && (formularioPerfil.controls.correo_electronico?.pattern || submittedPerfil)">Email no valido</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nombre" type="text" formControlName="nombre_usuario" [(ngModel)]="usuario.nombre_usuario">
                                        <mat-hint *ngIf="formularioPerfil.controls.nombre_usuario.errors?.required && (formularioPerfil.controls.nombre_usuario?.touched || submittedPerfil)">Requerido</mat-hint>
                                        <mat-hint *ngIf="formularioPerfil.controls.nombre_usuario.errors?.pattern && (formularioPerfil.controls.nombre_usuario?.pattern || submittedPerfil)">No valido</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Apellidos" type="text" formControlName="apellidos" [(ngModel)]="usuario.apellidos">
                                        <mat-hint *ngIf="formularioPerfil.controls.apellidos.errors?.required && (formularioPerfil.controls.apellidos?.touched || submittedPerfil)">Requerido</mat-hint>
                                        <mat-hint *ngIf="formularioPerfil.controls.apellidos.errors?.pattern && (formularioPerfil.controls.apellidos?.pattern || submittedPerfil)">No valido</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Perfil" type="text" [value]="usuario.perfil.nombre_perfil" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Descripción perfil" [value]="usuario.perfil.descripcion" disabled></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-success pull-right">ACTUALIZAR</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img class="img" [src]=" image | safe " />
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">{{ usuario.perfil.nombre_perfil }}</h6>
                        <h4 class="card-title">{{ usuario.nombre_usuario + ' ' + usuario.apellidos }}</h4>
                        <!-- <p class="card-description"> -->
                        <div class="upload-btn-wrapper">
                            <button class="btn-custom-file">Seleccione Imagen</button>
                            <input type="file" name="imagePerfil" accept="image/jpeg, image/png, image/jpg, image/bmp" (change)="seleccionaArchivo($event)"
                            />
                        </div>
                        <!-- </p> -->
                        <p>
                            <button class="btn btn-success btn-round" (click)="uploadImage()" [disabled]="image_selected == undefined || image_selected == '' || image_selected == null">CAMBIAR FOTO</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">
                            <i class="material-icons">
                                security
                            </i>&nbsp;&nbsp;Seguridad</h4>
                        <p class="card-category">Cambiar contraseña</p>
                    </div>
                    <div class="card-body">
                        <form id="formpwd" [formGroup]="formularioPwd" (ngSubmit)="changePwd($event)" autocomplete="off">
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                    <mat-form-field>
                                        <input matInput type="password" placeholder="Contraseña actual" formControlName="actual" [(ngModel)]="password.actual">
                                        <mat-hint *ngIf="formularioPwd.controls.actual.errors?.required && (formularioPwd.controls.actual?.touched || submittedPwd)">Requerido</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                    <mat-form-field>
                                        <input matInput type="password" placeholder="Nueva contraseña" formControlName="nueva" [(ngModel)]="password.nueva" (ngModelChange)="clearMsj()">
                                        <mat-hint *ngIf="formularioPwd.controls.nueva.errors?.required && (formularioPwd.controls.nueva?.touched || submittedPwd)">Requerido</mat-hint>
                                        <mat-hint *ngIf="formularioPwd.controls.nueva.errors?.pattern && (formularioPwd.controls.nueva?.pattern || submittedPwd)">No cumple requisitos</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                    <mat-form-field>
                                        <input matInput type="password" placeholder="Confirma contraseña" formControlName="confirmacion" [(ngModel)]="password.confirmacion"
                                            (ngModelChange)="clearMsj()">
                                        <mat-hint *ngIf="formularioPwd.controls.confirmacion.errors?.required && (formularioPwd.controls.confirmacion?.touched || submittedPwd)">Requerido</mat-hint>
                                        <mat-hint *ngIf="!formularioPwd.controls.confirmacion.errors?.required && mensajePwd != '' ">{{ mensajePwd }}</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                                    <button type="submit" class="btn btn-success">CAMBIAR</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <small>La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una
                                        minúscula y al menos una mayúscula</small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>