#body{
    background: url('../../../assets/img/fondo_kiosco.png') no-repeat  fixed  ;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.config{
    height: 100%;
    height: -moz-available;
    height: stretch;
    display: flex;
}

.fondo_super{
    margin-left: 3%;
}

.logo_petstar{
    position:absolute;
    top: 4%;
    left: 3%;
    z-index: 1;
}


.plataformas{
    position:absolute;
    top: 15%;
    left: 10%;
    z-index: 1;
}



.bienvenida{
    position: absolute;
    top:40%;
    left: 9%;
    z-index: 3;
}

.tipo_letra{
    font-family: 'Arial';   
}

.titulo{
   
    color: #076ab3;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 3px;   
}

.texto_portal{
    color: #999999;
    font-size: 18px;   
}

.btn-custom{
    border-radius: 30px;
}

.btn-texto{
    letter-spacing: 2px;
}

.img_app{
    border-radius: 15%;
    width: 75%;
    height: 200px;
    margin-bottom: 25px;
}

.material-icons.md-30 { 
    font-size: 30px;
   
}

.btn-home{
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    top: 13%;
    right: 8%;
    z-index: 1;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px 
   
}

.carousel_custom{  
    width: 60em; 
    height: 30em; 
}

.carousel-item{
    height: 27em;
    
}

.card_app{
    display: flex;
    width: 25em; 
    height: 25em; 
    border-radius: 50%;
    background-color: #076ab3;
    justify-content: center;
	align-items: center;
	text-align: center;
    -webkit-box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 25px 0px rgba(0,0,0,0.75);
}

.carousel-control-prev {
    left: -9%;
}

.floating-btn {
    position: fixed;
    //bottom: 5px;
    right: 24px;
    z-index: 1000;
}

.btn-rounded{
    border-radius: 50px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   .botellin{
       top: 10%;
   }

   .card_app{
        width: 17em; 
        height: 17em; 
   }

   .btn-custom.btn-app{
        padding-top: 5px;
        padding-bottom: 5px;
   }

   .img_app{
    height: 130px;
   }

   .carousel_custom{  
    width: 40em; 
    height: 30em; 
    }

    .carousel-control-prev, .carousel-control-next {
        position: absolute;
        top: -40%;
    }
} 