<div class="floating-btn" *ngIf="showSystem">
  <button class="btn btn-rounded btn-success btn-sm" (click)="volverApps()">REGRESAR&nbsp;&nbsp;
    <i class="fa fa fa-arrow-left pl-1"></i>
  </button>
</div>
<div id="body" *ngIf="!loading && available && !showSystem">
  <div class="container-fluid">
    <div class="row config">
      <section class="section-welcome">
        <img src="assets/img/fondo_super.png" class="fondo_super" width="95%" height="98%" [@fondoFirst]="welcome_status">
        <img src="assets/img/logo_petstar_portal.png" class="logo_petstar" width="25%" [@welcome1]="welcome_status">
        <img src="assets/img/botellin.png" class="botellin" width="55%" [@botellin]="welcome_status" style="z-index: 2;">
        <div class="bienvenida tipo_letra" [@welcome1]="welcome_status">
          <p class="titulo">Bienvenido</p>
          <br>
          <p class="texto_portal">
            <strong>Kiosco PetStar,</strong> es un portal que te ofrece
            <br> acceso directo a las diferentes plataformas
            <br> de información de la empresa.</p>
          <br>
          <button type="button" class="btn btn-raised btn-lg btn-success btn-custom" (click)="startApp()">
            <b class="btn-texto">ENTRAR</b>
          </button>
        </div>
      </section>
      <section class="section-apps" style="display: none">
        <img src="assets/img/fondo_super2.png" class="fondo_super" width="95%" height="98%" [@fondoSecond]="app_status">
        <img src="assets/img/colaborador.png" class="colaborador" width="30%" [@colaborador]="app_status">
        <div class="plataformas" [@welcome1]="app_status">
          <p class="titulo tipo_letra">Plataformas</p>
        </div>
        <button type="button" class="btn btn-success btn-home" (click)="showInicio()" [@welcome1]="app_status">
          <span class="material-icons md-30">
            home
          </span>
        </button>

        <!-- Codigo carousel -->
        <div id="contenedor_apps" class="carousel slide carousel_custom" [@carousel]="app_status">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li *ngFor="let diapositivas of apps_auxiliar; let index = index" data-target="#contenedor_apps" [attr.data-slide-to]="index" [ngClass]="{'active': index ==  0}"></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div [ngClass]="{'carousel-item row container': true, 'active': index == 0}" *ngFor="let apps of apps_auxiliar; let index = index">
              <table width="100%" border="0">
                <tr>
                  <td width="50%">
                    <div class="card_app" *ngIf="apps[0]">
                      <div class="content_card_app">
                        <img class="img_app" [src]="'data:image/jpg;base64,'+apps[0].imagen | safe">
                        <br>
                        <button type="button" class="btn btn-raised btn-lg btn-success btn-custom btn-app" (click)="goSystem(apps[0]);false">
                          <b class="btn-texto">ENTRAR</b>
                        </button>
                      </div>
                    </div>
                  </td>
                  <td width="50%">
                    <div class="card_app" *ngIf="apps[1]">
                      <div class="content_card_app">
                        <img class="img_app" [src]="'data:image/jpg;base64,'+apps[1].imagen | safe">
                        <br>
                        <button type="button" class="btn btn-raised btn-lg btn-success btn-custom btn-app" (click)="goSystem(apps[1]);false">
                          <b class="btn-texto">ENTRAR</b>
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#contenedor_apps" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#contenedor_apps" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        <!-- Fin codigo carousel -->
      </section>
    </div>
  </div>
</div>
<div *ngIf="!loading && !available">
  <img src="assets/img/construccion.png" class="img-responsive img_size centrado">
</div>
<div class="ajuste_alto" *ngIf="showSystem">
  <iframe [src]=" this.app.url | safe" width="100%" (load)="loadingSystem()" height="100%" style="border:none;overflow:hidden"
    scrolling="auto" frameborder="0" allowTransparency="true" allowFullScreen="true" allow="encrypted-media" sandbox="allow-scripts allow-same-origin allow-forms">
  </iframe>
</div>
<div class="container-fluid full-width">
  <img id="wallpaper" [src]="'data:image/png;base64,'+wallpaper | safe" style="cursor: default; display: none;" width="100%"
    height="100%">
</div>