#body{
    background: url('/assets/img/fondo_kiosco.png') no-repeat  fixed  ;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.config{
    height: 100%;
    height: -moz-available;
    height: stretch;
    display: flex;
}

.fondo_super{
    margin-left: 3%;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
}

.logo_petstar{
    position:absolute;
    top: 4%;
    left: 3%;
    z-index: 1;
}

.botellin{
    position: absolute;
    right: 3%;
    z-index: 2;
}

.bienvenida{
    position: absolute;
    top:40%;
    left: 9%;
    z-index: 3;
}

.titulo{   
    color: #076ab3;
    font-weight: bold;
    font-size: 55px;   
}

.texto_portal{
    color: #999999;
    font-size: 18px;
}

.btn-custom{
    border-radius: 30px;
}
