<div class="floating-btn" *ngIf="showSystem">
  <button class="btn btn-rounded btn-primary btn-sm" (click)="volverApps()">REGRESAR&nbsp;&nbsp;
    <i class="fa fa fa-arrow-left pl-1"></i>
  </button>
</div>
<div id="body" *ngIf="!loading && available && !showSystem">
  <div class="container-fluid">
    <div class="row config">
       <img src="assets/img/fondo_super.png" class="fondo_super" width="95%" height="90%" >
    </div>
  </div>
</div>
<div *ngIf="!loading && !available">
  <img src="assets/img/construccion.png" class="img-responsive img_size centrado">
</div>
<div class="ajuste_alto" *ngIf="showSystem">
  <iframe [src]=" this.app.url | safe" width="100%" (load)="loadingSystem()" height="100%" style="border:none;overflow:hidden"
    scrolling="auto" frameborder="0" allowTransparency="true" allowFullScreen="true" allow="encrypted-media" sandbox="allow-scripts allow-same-origin allow-forms">
  </iframe>
</div>
<div class="container-fluid full-width">
  <img id="wallpaper" [src]="'data:image/png;base64,'+wallpaper | safe"  style="cursor: default; display: none;"
    width="100%" height="100%">
</div>