.font_texto{
    font-size: 3rem;
}

.mat-hint{
    color: red;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb { 
    background-color: #558b2f ; /*replace with your color*/ 
} 

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar { 
    background-color: #7aaf3f; /*replace with your color*/ 
} 

.img_prev{
    width: 8rem;
    height: 8rem;
}

