<div class="main-content justify-content-center align-items-center" *ngIf="loading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div id="loading">
          <ul class="bokeh">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content" *ngIf="!loading && !notValid">
  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="{'col-lg-8 col-md-8': action=='edit', 'col-lg-12 col-md-12': action=='add'  ,'col-sm-12 col-xs-12':true}">
        <form id="formPlanta" [formGroup]="formulario" (ngSubmit)="submit($event, action)" autocomplete="off">
          <mat-card>
            <mat-card-title>
              INFORMACIÓN DE LA PLANTA
            </mat-card-title>
            <mat-card-subtitle>Ingrese todos los datos</mat-card-subtitle>
            <mat-card-content>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <mat-form-field>
                    <input matInput placeholder="Nombre de la planta" formControlName="nombre_planta" [(ngModel)]="planta.nombre_planta">
                    <mat-hint align="end" *ngIf="formulario.controls.nombre_planta.errors?.required && (formulario.controls.nombre_planta?.touched || submitted)">Requerido</mat-hint>
                    <mat-hint align="end" *ngIf="!formulario.controls.nombre_planta.errors?.required && formulario.controls.nombre_planta.errors?.whitespace && (formulario.controls.nombre_planta?.touched || submitted)">Ingrese un nombre</mat-hint>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder="IP pública" formControlName="ip_publica" [(ngModel)]="planta.ip_publica">
                    <mat-hint align="end" *ngIf="formulario.controls.ip_publica.errors?.required && (formulario.controls.ip_publica?.touched || submitted)">Requerido</mat-hint>
                    <mat-hint align="end" *ngIf="formulario.controls.ip_publica.errors?.pattern && (formulario.controls.ip_publica?.touched || submitted)">IP no válida</mat-hint>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="Estado" formControlName="estado_planta" [(ngModel)]="planta.estado_planta">
                      <mat-option value="">SELECCIONE</mat-option>
                      <mat-option *ngFor="let estado of estados" [value]="estado.name">{{ estado.name }}</mat-option>
                    </mat-select>
                    <mat-hint align="end" *ngIf="formulario.controls.estado_planta.errors?.required && (formulario.controls.estado_planta?.touched || submitted)">Requerido</mat-hint>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Dirección" formControlName="direccion_planta" [(ngModel)]="planta.direccion_planta"></textarea>
                    <mat-hint align="end" *ngIf="formulario.controls.direccion_planta.errors?.required && (formulario.controls.direccion_planta?.touched || submitted)">Requerido</mat-hint>
                    <mat-hint align="end" *ngIf="!formulario.controls.direccion_planta.errors?.required && formulario.controls.direccion_planta.errors?.whitespace && (formulario.controls.direccion_planta?.touched || submitted)">Ingrese dirección</mat-hint>
                  </mat-form-field>
                  <mat-slide-toggle color="success" *ngIf="action == 'edit'" [checked]="planta.activo == 1" (change)="changeStatus(planta.activo)">Activo</mat-slide-toggle>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <button type="submit" class="btn btn-success float-right">{{ (action == 'add')? 'AGREGAR' : 'ACTUALIZAR DATOS' }}</button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngIf="action == 'edit'">
        <mat-card>
          <mat-card-title align="center">
            IMAGEN PLANTA
          </mat-card-title>
          <!-- <mat-card-subtitle>Cambiar imagen</mat-card-subtitle> -->
          <mat-card-content>
            <div class="row d-flex justify-content-center">
              <img [src]=" image | safe " class="img-thumbnail img_prev">
            </div>
            <div class="row"  align="center">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>                
                <div class="upload-btn-wrapper">
                  <button class="btn-custom-file">Seleccione Imagen</button>
                  <input type="file" name="imagePerfil" accept="image/jpeg, image/png, image/jpg, image/bmp" (change)="seleccionaArchivo($event)"
                  />
                </div>
              </div>
            </div>
            <hr>
          </mat-card-content>
          <mat-card-actions>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="btn btn-success btn-round" (click)="uploadImage()" [disabled]="aux_image == undefined || aux_image == '' || aux_image == null">CAMBIAR FOTO</button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="main-content" *ngIf="!loading && notValid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="font_texto"> Planta no encontrada </p>
        <a routerLink="../">Ver plantas disponibles</a>
      </div>
    </div>
  </div>
</div>