<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                SONARH
              </mat-panel-title>
              <mat-panel-description>
                {{!panelOpenState ? ' Ver detalle' : ' Ocultar detalle'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="row">
                  <div class="container">
                    <img src="https://www.telegraph.co.uk/content/dam/technology/2017/08/03/Internet2_trans_NvBQzQNjv4BqJRZdqtQCcB0-hjTaQxsqmtMZZIw9jvU_z2DJKltQ1FE.jpg?imwidth=450"
                      class="img-thumbnail img-fluid">
                  </div>
                </div>              
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <br>
                <mat-form-field>
                  <input matInput placeholder="Nombre">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="URL">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="Descripción" value=""></textarea>
                </mat-form-field>
                <mat-slide-toggle>ACTIVAR</mat-slide-toggle>
              </div>
            </div>
            <mat-action-row>
              <div class="container">
                <div class="row">
                  <div class="col align-self-start">
                    <a href="#" class="error">
                      <i class="material-icons">
                        delete_outline
                      </i>
                      ELIMINAR
                    </a>
                  </div>
                  <div class="col align-self-center">
                    <a href="#" class="info">
                      <i class="material-icons">
                        photo
                      </i>
                      CAMBIAR
                    </a>
                  </div>
                  <div class="col align-self-end">
                    <a href="#" class="action_custom">
                      <i class="material-icons">
                        autorenew
                      </i>
                      ACTUALIZAR
                    </a>
                  </div>
                </div>
              </div>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>