<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title ">Kioscos registrados</h4>
            <p class="card-category color_texto">Haga clic en el nombre del kiosco para ver los detalles </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <th>
                    PLANTA
                  </th>
                  <th>
                    NOMBRE KIOSCO
                  </th>
                  <th>
                    IP
                  </th>
                  <th>
                    FECHA REGISTRO
                  </th>
                  <th>
                    ACTIVAR
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>TOLUCA</td>
                    <td>PC-TOLUCA123</td>
                    <td>192.168.1.10</td>
                    <td>12/11/2018</td>
                    <td>
                      <span class="switch">
                        <input type="checkbox" class="switch" id="switch-id">
                        <label for="switch-id">Small switch</label>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p class="text-right">
          <b>REGISTRADOS:</b> 11 &nbsp;&nbsp;
          <b>ACTIVOS:</b> 0</p>
      </div>
    </div>
  </div>
</div>