.img_active_background{
    width: 11rem;
    height: 6rem;
}

.img_prev{
    width: 8rem;
    height: 8rem;
}

.card [class*="card-header-"] .card-icon{
    background-color: black;
    padding: 1px;
}


body {
    background-color:#1d1d1d !important;
    font-family: "Asap", sans-serif;
    color:#989898;
    margin:10px;
    font-size:16px;
  }
  
  #demo {
    height:100%;
    position:relative;
    overflow:hidden;
  }
  
  
  .green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 30px;
          }
          
          .page-top{
              margin-top:40px;
          }
  
     
  img.zoom {
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
  }
          
   
  .transition {
      -webkit-transform: scale(1.2); 
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
      .modal-header {
     
       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;  
      }
  
.btn-custom-file {
    padding: 0px 10px;
}

.upload-btn-wrapper{
    display: flex;
}

.btn-custom-file {
    display: inline-flex;
}


.mat-hint{
    color: red;
    font-size: .8rem;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #c8e6c9 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}