.img_active_background{
    width: 11rem;
    height: 6rem;
}

.img_prev{
    width: 8rem;
    height: 8rem;
}

.card [class*="card-header-"] .card-icon{
    background-color: black;
    padding: 1px;
}