<div class="logo">
  <div class="simple-text" style="margin-right: -20px">
      <div class="logo-img">
          <img src="../assets/img/icono_app2.png"/>
      </div>
      KIOSCO ADMIN
    </div>
</div>
<div class="sidebar-wrapper">
<div *ngIf="isMobileMenu()">
  <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
          <a class="nav-link" href="#pablo">
              <i class="material-icons">exit_to_app</i>
              <p>
                  <span class="d-lg-none d-md-block">Cerrar sesión</span>
              </p>
          </a>
      </li>
  </ul>
</div>
  <ul class="nav">
      <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
          <a class="nav-link" [routerLink]="[menuItem.path]">
              <i class="material-icons">{{menuItem.icon}}</i>
              <p>{{menuItem.title}}</p>
          </a>
      </li>
  </ul>
</div>
