.card-style{
    background-color: #156ab1;
    color: white;
    font-weight: bold;
}

.card-style-gral{
    background-color: #43a047;
    color: white;
    font-weight: bold;
}

.mat-hint{
    color: red;
}