<div class="main-content justify-content-center align-items-center" *ngIf="loading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div id="loading">
          <ul class="bokeh">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content" *ngIf="!loading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="fa fa-users"></i>
            </div>
            <p class="card-category">Personas conectadas</p>
            <h3 class="card-title">{{ kioscos_now }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> Justo Ahora
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="fa fa-star"></i>
            </div>
            <p class="card-category">Aplicación web mas utilizada</p>
            <h3 class="card-title">{{ app_more_used }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> Actualmente
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="fa fa-building"></i>
            </div>
            <p class="card-category">Planta con mas accesos</p>
            <h3 class="card-title">{{ planta_more_access }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> Actualmente
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-style-gral">
            <b>APLICACIÓN MAS UTILIZADA</b>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div id="appUsedGral" style="width:100%; height:400px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-style">
            <b>INGRESE DATOS PARA VER REPORTES</b>
          </div>
          <div class="card-body">
            <form [formGroup]="formulario" (ngSubmit)="submit($event)" autocomplete="off">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <mat-form-field>
                    <mat-select placeholder="Seleccione planta" formControlName="id_planta" [(ngModel)]="paramsFind.id_planta">
                      <mat-option *ngFor="let planta of plantas" [value]="planta.id_planta">
                        {{planta.nombre_planta}}
                      </mat-option>
                    </mat-select>
                    <mat-hint align="end" *ngIf="formulario.controls.id_planta.errors?.pattern && (formulario.controls.id_planta?.touched || submitted)">Requerido</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <mat-form-field>
                    <mat-select placeholder="Seleccione kiosco" formControlName="id_kiosco" [(ngModel)]="paramsFind.id_kiosco">
                      <mat-option *ngFor="let kiosco of getFilterKioscos(paramsFind.id_planta)" [value]="kiosco.id_kiosko">
                        {{kiosco.nombre_kiosko}}
                      </mat-option>
                    </mat-select>
                    <mat-hint align="end" *ngIf="formulario.controls.id_kiosco.errors?.pattern && (formulario.controls.id_kiosco?.touched || submitted)">Requerido</mat-hint>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <mat-form-field>
                    <input matInput readonly [matDatepicker]="pickerinicio" placeholder="Día" formControlName="fecha" [(ngModel)]="paramsFind.fecha">
                    <mat-datepicker-toggle matSuffix [for]="pickerinicio"></mat-datepicker-toggle>
                    <mat-datepicker #pickerinicio></mat-datepicker>
                    <mat-hint align="end" *ngIf="formulario.controls.fecha.errors?.required && (formulario.controls.fecha?.touched || submitted)">Requerido</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <input id="btnConsulta" type="submit" hidden>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-success">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">CLICK PARA VER:</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#rpt1" data-toggle="tab" (click)="consultaReporteByDia()">
                      <i class="material-icons">description</i> Conexiones por día
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#rpt2" data-toggle="tab" (click)="consultaReporteByApp()">
                      <i class="material-icons">description</i> Conexiones por aplicación
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="rpt1">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="byTurn" style="width:100%; height:400px;"></div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="rpt2">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="appUsed" style="width:100%; height:400px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>