<div class="main-content justify-content-center align-items-center" *ngIf="loading">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div id="loading">
          <ul class="bokeh">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content" *ngIf="!loading && !notValid">
  <div class="container-fluid" *ngIf="action == 'add'">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form id="formImage" [formGroup]="formulario" (ngSubmit)="submit($event, action)" autocomplete="off">
          <mat-card>
            <mat-card-title>
              PROTECTOR DE PANTALLA
            </mat-card-title>
            <mat-card-subtitle>Ingrese todos los datos</mat-card-subtitle>
            <mat-card-content>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <mat-form-field>
                    <input matInput placeholder="Nombre de imagen" formControlName="nombre" [(ngModel)]="imagen.nombre" maxlength="50">
                    <mat-hint align="end" *ngIf="formulario.controls.nombre.errors?.required && (formulario.controls.nombre?.touched || submitted)">Requerido</mat-hint>
                    <mat-hint align="end" *ngIf="!formulario.controls.nombre.errors?.required && formulario.controls.nombre.errors?.whitespace && (formulario.controls.nombre?.touched || submitted)">Ingrese un nombre</mat-hint>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Descripción" formControlName="descripcion" [(ngModel)]="imagen.descripcion"></textarea>
                    <mat-hint align="end" *ngIf="formulario.controls.descripcion.errors?.required && (formulario.controls.descripcion?.touched || submitted)">Requerido</mat-hint>
                    <mat-hint align="end" *ngIf="!formulario.controls.descripcion.errors?.required && formulario.controls.descripcion.errors?.whitespace && (formulario.controls.descripcion?.touched || submitted)">Ingrese descripción</mat-hint>
                  </mat-form-field>
                  <div class="row d-flex justify-content-center" *ngIf="!formulario.controls.imagen.errors?.required">
                    <p>VISTA PREVIA</p>
                  </div>
                  <div class="row d-flex justify-content-center" *ngIf="!formulario.controls.imagen.errors?.required">
                    <img [src]="img_selected" class="img-thumbnail img_prev">
                  </div>
                  <br>
                  <div class="row d-flex justify-content-center">
                    <div class="upload-btn-wrapper">
                      <button class="btn-custom-file">Seleccione Imagen</button>
                      <input type="file" name="imagePerfil" accept="image/jpeg, image/png, image/jpg, image/bmp" (change)="seleccionaArchivo($event)"
                        formControlName="imagen" [(ngModel)]="imagen.imagen" />
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center">
                    <mat-hint *ngIf="formulario.controls.imagen.errors?.required && (formulario.controls.imagen?.touched || submitted)">Se requiere imagen</mat-hint>
                  </div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <button type="submit" class="btn btn-success float-right">{{ (action == 'add')? 'AGREGAR' : 'ACTUALIZAR' }}</button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid" *ngIf="action == 'edit'">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <form id="formPlanta" [formGroup]="formulario" (ngSubmit)="submit($event, action)" autocomplete="off">
          <mat-card>
            <mat-card-title>
              PROTECTOR DE PANTALLA
            </mat-card-title>
            <mat-card-subtitle>Ingrese todos los datos</mat-card-subtitle>
            <mat-card-content>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <mat-form-field>
                    <input matInput placeholder="Nombre de imagen" formControlName="nombre" [(ngModel)]="imagen.nombre" maxlength="50">
                    <mat-hint align="end" *ngIf="formulario.controls.nombre.errors?.required && (formulario.controls.nombre?.touched || submitted)">Requerido</mat-hint>
                    <mat-hint align="end" *ngIf="!formulario.controls.nombre.errors?.required && formulario.controls.nombre.errors?.whitespace && (formulario.controls.nombre?.touched || submitted)">Ingrese un nombre</mat-hint>
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Descripción" formControlName="descripcion" [(ngModel)]="imagen.descripcion"></textarea>
                    <mat-hint align="end" *ngIf="formulario.controls.descripcion.errors?.required && (formulario.controls.descripcion?.touched || submitted)">Requerido</mat-hint>
                    <mat-hint align="end" *ngIf="!formulario.controls.descripcion.errors?.required && formulario.controls.descripcion.errors?.whitespace && (formulario.controls.descripcion?.touched || submitted)">Ingrese descripción</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <button type="submit" class="btn btn-success float-right">ACTUALIZAR DATOS</button>
                </div>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <mat-card>
          <mat-card-title align="center">
            IMAGEN
          </mat-card-title>
          <mat-card-content>
            <div class="row d-flex justify-content-center">
              <img [src]="'data:image/jpg;base64,' +imagen.img_base64 | safe " class="img-thumbnail img_prev">
            </div>
            <div class="row" align="center">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <div class="upload-btn-wrapper">
                  <button class="btn-custom-file">Seleccione Imagen</button>
                  <input type="file" name="imagenFondo" accept="image/jpeg, image/png, image/jpg, image/bmp" (change)="seleccionaArchivo($event)"
                  />
                </div>
              </div>
            </div>
            <hr>
          </mat-card-content>
          <mat-card-actions>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="btn btn-success btn-round" (click)="uploadImage()" [disabled]="aux_image == undefined || aux_image == '' || aux_image == null">CAMBIAR FOTO</button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<div class="main-content" *ngIf="!loading && notValid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <p class="font_texto"> Imagen no encontrada </p>
        <a routerLink="../">Ver galería de imagenes </a>
      </div>
    </div>
  </div>
</div>